<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="ur5" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/gazebo.urdf.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="false"/>

  <!-- camera -->
  <!-- Currently it is specific to Dr. Chris Lewis master branch of industrial_calibration
       https://github.com/drchrislewis/industrial_calibration/tree/master/industrial_extrinsic_cal -->
  <xacro:include filename="$(find industrial_extrinsic_cal)/urdf/basler_cal_macro.xacro"/>

  <!-- The root frame of the URDF, meaning it has no children. Each URDF can
       have one, and only one, such frame -->
  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.7854" />
  </joint>
	
  <link name="cal_target_link1"/>

  <link name="cal_target_link2"/>

  <link name="cal_target_link3" >
      <visual>
        <geometry>
           <box size="0.3 0.27 0.002"/>
        </geometry>
        <material name="White">
          <color rgba="1.0 1.0 1.0 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
           <box size="0.3 0.27 0.02"/>
        </geometry>
      </collision>
    </link>

  <!-- Create the calibration target frame. The name of this frame must 
       match the 'targets' YAML file created as part of the industrial
       calibration configuration later  -->
   <link name ="cal_grid"/>

  <!-- Note that (with joint information) the target is at a known 
       location in the world and that all joints are fixed -->
  <joint name="ee2target1" type="fixed">
    <parent link="ee_link" />
    <child link = "cal_target_link1" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 1.5708 0.0" />
  </joint>

  <joint name="target1to2" type="fixed">
    <parent link="cal_target_link1" />
    <child link = "cal_target_link2" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 -2.3562" />
  </joint>

  <joint name="target2to3" type="fixed">
    <parent link="cal_target_link2" />
    <child link = "cal_target_link3" />
    <origin xyz="-0.115 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="targetToGrid" type="fixed">
    <parent link="cal_target_link2" />
    <child link = "cal_grid" />
    <origin xyz="-0.0696 0.06985 0.0" rpy="3.1415 0.0 -1.5708" />
  </joint>

  <!-- baslers -->
  <!-- This section uses the macro from 'basler_cal_macro.xacro' to instantiate
       an unknown 6 DOF transformation from world to the target frame of each 
       camera. These transformations will be published by a 'mutable joint state
       publisher'. Note that the name of the camera must match up with the
       corresponding 'optical frame' argument of the 'camera' YAML file of
       industrial calibration. -->
  <xacro:basler_sensor_definitions prefix="basler1" parent_link="world" />
  <xacro:basler_sensor_definitions prefix="basler2" parent_link="world" />
  <xacro:basler_sensor_definitions prefix="basler3" parent_link="world" />
  <xacro:basler_sensor_definitions prefix="basler4" parent_link="world" />
  <xacro:basler_sensor_definitions prefix="basler5" parent_link="world" />
  <xacro:basler_sensor_definitions prefix="basler6" parent_link="world" />
  <xacro:basler_sensor_definitions prefix="basler7" parent_link="world" />
  <xacro:basler_sensor_definitions prefix="basler8" parent_link="world" />
  <xacro:basler_sensor_definitions prefix="basler9" parent_link="world" />
  
</robot>
