<?xml version="1.0" ?>
<launch>

   <!-- arguments for this file -->
   <arg name="tower1_model" default="$(find ind_cal_multi_camera)/urdf/tower1.xacro" />
   <arg name="gui" default="False" />
   <arg name="robot1" default="Robot1"/>

   <!-- advertise Asus sensor data-->
   <node pkg="ind_cal_multi_camera" type="calibration_image_pub" name="image_publisher" output="screen">
     <param name="image_directory" value="$(find ind_cal_multi_camera)/images" />
   </node>

   <!-- Launch the extrinsic calibration service -->
   <node pkg="industrial_extrinsic_cal" type="service_node" name="calibration_service_node" output="screen" >
     <param name="yaml_file_path" value="$(find ind_cal_multi_camera)/yaml/" />
     <param name="use_circle_detector" value="True" />
     <rosparam>
       camera_file: "scan_n_plan_cameras.yaml"
       target_file: "scan_n_plan_targets.yaml"
       cal_job_file: "scan_n_plan_caljob.yaml"
       store_results_package_name: "ind_cal_multi_camera"
       store_results_file_name: "tower_transforms.launch"
     </rosparam>
   </node> 

   <!-- Load the xacro file of the tower and cameras onto the parameter server as a robot description -->
   <param name="$(arg robot1)/robot_description" command="$(find xacro)/xacro.py $(arg tower1_model)" />
   <param name="use_gui" value="$(arg gui)" />

   <!-- Launch robot state publishers for both towers -->
   <node ns="$(arg robot1)" name="tower1_camera_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
            <!--param name="tf_prefix" value="" /-->
            <param name="publish_frequency" value="50" />
    </node>

   <!-- Launch Rviz -->
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ind_cal_multi_camera)/tower_scene.rviz"/>

   <!-- Launch mutable joint state publisher for calibratable transforms -->
   <node  name="tower1_camera_locs" pkg="industrial_extrinsic_cal" type="mutable_joint_state_publisher" >
       <param name="mutable_joint_state_yaml_file" value="$(find ind_cal_multi_camera)/yaml/towers_mutable_joint_states.yaml" />
       <remap from="mutable_joint_states" to="$(arg robot1)/joint_states" />
   </node>

   <node name="cal_gui" pkg="calibrate_gui" type="calibrate_gui" />

</launch>
