<?xml version="1.0" ?>
<launch>
    <!-- This file allows one to run the ros version of intrinsic calibration on a camera -->

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find ind_cal_multi_camera)/config/rosconsole.config" />

   <arg name="asus" default="false" />
   <arg name="asus_device_id" default="2@1"/>
   <arg name="asus_camera_name" default="asus1"/>
   <arg name="asus_calprefix" default="1"/>

   <arg name="basler" default="false" />
   <!--arg name="basler_sn" default="21511093"/-->
   <!--arg name="basler_sn" default="21511083"/-->
   <!--arg name="basler_sn" default="21135424"/-->
   <!--arg name="basler_sn" default="21516700"/--> 
   <!--arg name="basler_sn" default="21511094"/-->
   <!--arg name="basler_sn" default="21499591"/-->
   <!--arg name="basler_sn" default="21511088"/-->
   <arg name="basler_sn" default="21511095"/>
   <!--arg name="basler_sn" default="21496537"/-->
   <!--arg name="basler_sn" default="21511086"/-->
   <!--arg name="basler_sn" default="21135423"/-->

   <!-- Launch the asus camera node -->
   <include if="$(arg asus)" file="$(find ind_cal_multi_camera)/launch/kinect_camera.launch" >
     <arg name="topic_ns" value="$(arg asus_camera_name)" />
     <arg name="tf_prefix" value="$(arg asus_camera_name)"/>
     <arg name="cal_prefix" value="$(arg asus_calprefix)" />
     <arg name="device_id" value="$(arg asus_device_id)" />
     <arg name="publish_tf" value="false" />
   </include> 

   <!-- Launch the basler camera -->
   <include file="$(find ind_cal_multi_camera)/launch/basler_camera.launch" >
       <arg name="camera_name" value="Basler1"/>
       <arg name="basler_sn" value="$(arg basler_sn)"/>
       <arg name="camera_aravis_package" value="true"/>
       <arg name="exposure_auto" value="auto_once"/>
       <arg name="exposure_time" value="10000"/>
       <arg name="gain_auto" value="Once" />
       <arg name="gain" value="0" />
       <arg name="frame_rate" value="10"/>
       <arg name="trigger_mode" value="Off"/>
       <arg name="trigger_source" value="Line1"/>
       <arg name="pixel_format" value="Mono8"/>
       <arg name="url" value="file://$(find ind_cal_multi_camera)/camera_info/Basler$(arg basler_sn).yaml"/>
   </include>

   <!-- Launch ros's camera calibration-->
   <node pkg="camera_calibration" type="cameracalibrator.py" name="ros_camera_calibration" args="-s 10x10 -p circles --square=0.2" output="screen">
              <remap if="$(arg basler)" from="image" to="Basler1/image_raw"/>
              <remap if="$(arg basler)" from="camera" to="Basler1"/>
              <remap if="$(arg asus)" from="image" to="asus1/rgb/image_color"/>
              <remap if="$(arg asus)" from="camera" to="asus1"/>
   </node>

   <node name="image_view" pkg="image_view" type="image_view" >
              <remap if="$(arg basler)" from="image" to="Basler1/image_raw"/>
              <remap if="$(arg asus)" from="image" to="asus1/rgb/image_rect_color"/>
   </node>

</launch>
