<?xml version="1.0" ?>
<!-- This file executes the calibration process. It assumes that all drivers
     for hardware have been launched and that a mutable joint states publisher
     is already running. -->

<launch>

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find cameras_to_robot)/config/rosconsole.config" />

  <!-- Launch service which when called will move robot and then indicate scene is ready   -->
  <node pkg="industrial_extrinsic_cal" type="ros_robot_trigger_action_service" name="rosRobotSceneTrigger" output="screen" />

  <!-- Launch the extrinsic calibration service -->
  <node pkg="industrial_extrinsic_cal" type="service_node" name="calibration_service_node" output="screen" >
    <param name="yaml_file_path" value="$(find cameras_to_robot)/yaml/"/>

    <!-- TODO: Fill in the values of the folowing parameters to tell
        the calibration about your files -->
    <param name="camera_file" value=""/>
    <param name="target_file" value=""/>
    <param name="cal_job_file" value=""/>

    <param name="post_proc_on" value="true"/>
    <param name="observation_data_file" value="$(find cameras_to_robot)/data/observation_data.yaml"/>
  </node>

</launch>
